ul
{
    list-style-type: none;
    color: black;
}
input.larger
{
    width:25px;
    height:25px;
}
.completed
{
    text-decoration: line-through;
}

.my-input{
    width: 280px;
}
